/*$gk_booking_web-app_primary-color: #4d2e0e;*/
$gk_booking_web-app_primary-color: #57310D;

$gk_booking_web-app_primary-color_hover: #6c4318;
$gk_booking_web-app_primary-color_active: #633b12;
$gk_booking_web-app_primary-color_active_hover: $gk_booking_web-app_primary-color_active;

$gk_booking_web-app_primary-text-color: #2E1B08;
$gk_booking_web-app_dark-place-text-color: rgb(255, 255, 255);
$gk_booking_web-app_contr-color: rgb(255, 254, 248);