<div class="row">
    <gk_booking_web-app_page__nav>
        <gk_booking_web-app_nav></gk_booking_web-app_nav>
    </gk_booking_web-app_page__nav>
    <gk_booking_web-app_page__content ng-transclude="">

    </gk_booking_web-app_page__content>
    <gk_booking_web-app_page__footer>
        <div class="small-10 medium-10 large-10 columns">
            <gk_booking_web-app_page__footer_text>
                ЧУП "Лан Трейд", УНП 790365972;<br /> г. Могилев, пер.Буянова, д.19, пом.1.<br />
                Сведения внесены в торговый реестр РБ 18.07.2016 № 345059.
            </gk_booking_web-app_page__footer_text>
        </div>
        <div class="small-2 medium-2 large-2 columns formatted">
            <a href="https://new.vk.com/klyuchikby" class="group-link right">
                <img src="wwwroot/GK.Booking.WebApp.VKIcon.png" />
            </a>
        </div>
    </gk_booking_web-app_page__footer>
</div>