<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="timeMapTraySize" type="GK.Booking.Infrastructure.Configuration.TimeMapTraySize, GK.Booking.WepApp"/>
    <section name="cookingDelayTime" type="GK.Booking.Infrastructure.Configuration.CookingDelayTime, GK.Booking.WepApp"/>
    <section name="workingDayStartTime" type="GK.Booking.Infrastructure.Configuration.WorkingDayStartTime, GK.Booking.WepApp"/>
    <section name="workingDayEndTime" type="GK.Booking.Infrastructure.Configuration.WorkingDayEndTime, GK.Booking.WepApp"/>
    <section name="orderExpireTime" type="GK.Booking.Infrastructure.Configuration.OrderExpireTime, GK.Booking.WepApp"/>
    <section name="maxOrderCost" type="GK.Booking.Infrastructure.Configuration.MaxOrderCost, GK.Booking.WepApp"/>
    <section name="mailConfig" type="GK.Booking.Infrastructure.Configuration.MailSetting, GK.Booking.WepApp"/>
    <section name="mailAddressesConfig" type="GK.Booking.Infrastructure.Configuration.MailAddressesConfigSection, GK.Booking.WepApp"/>
    <section name="timeMapRules" type="GK.Booking.Infrastructure.Configuration.TimeMapRulesConfigSection, GK.Booking.WepApp"/>
    <section name="smsConfig" type="GK.Booking.Infrastructure.Configuration.SmsSettings, GK.Booking.WepApp"/>
    <section name="credentials" type="GK.Booking.Infrastructure.Configuration.Credentials, GK.Booking.WepApp"/>
    <section name="clientTimeZoneShift" type="GK.Booking.Infrastructure.Configuration.ClientTimeZoneShift, GK.Booking.WepApp"/>
  </configSections>
  <connectionStrings>
    <add name="OrderContext" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='|DataDirectory|\GK.Booking.OrdersDB.mdf';Integrated Security=True" />
    <add name="ContactContext" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='|DataDirectory|\GK.Booking.ContactDB.mdf';Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="AllowMail" value="true"/> <!--Разрешить отправку Email сообщений (Параметр value: true - Разрешить или false - Запретить) -->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="On" defaultRedirect="/Home">
      <error statusCode="404" redirect="/NotFound"/>
    </customErrors>
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".scss" mimeType="text/plain"/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00"/>
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--Ниже описаны конфигурируемые параметры системы-->
  <!--Учётные данные пользователя для доступа к приватным возможностям приложения-->
  <credentials user="gkey" password="b23115cad13f62c477d74307f9574d3a"/>
  <!--**************************************************************************************************************************************-->
  <!--Конфигурация аккаунта для рассылки Email сообщений-->
  <mailConfig SmtpServer="smtp.yandex.ru" 
              SmtpPort="587" 
              SmtpUserName="just.dzmitry" 
              SmtpPassword="5447Dzmitry5447" 
              SmtpFrom="just.dzmitry@yandex.ru" 
              EnableSsl="true"/>
  <!--**************************************************************************************************************************************-->
  <mailAddressesConfig>
    <devGroup><!--Группа Email адресов разработчиков для рассылки писем с информацией о сбоях системы-->
      <add name="developer" address="demon_bru@mail.ru"/>
    </devGroup>
    <adminGroup><!--Группа Email адресов администраторов/заказчика для рассылки писем с предложениями и отзывами-->
      <add name="customer" address="anastasiya.ranchenko@gmail.com"/>
    </adminGroup>
  </mailAddressesConfig>
  <!--**************************************************************************************************************************************-->
  <!--Конфигурация СМС сервиса-->
  <!--textTemplate - Шаблон текста в смс ({0} - вместо этого тэга будет вставлен секретный код. Он Обязателен.)-->
  <!--sender - Имя отправителя в смс-->
  <!--Остальные параметры относятся к конфигурации сервиса. Менять их нужно только при изменении учётных данных профиля смс-сервиса-->
  <smsConfig textTemplate="Ваш секретный код {0}" 
             sender="klyuchik.by" 
             userLogin="YurchenkoMN" 
             password="z846Apu2"
             apiFunction="send_sms/plain" 
             serviceUri="https://userarea.sms-assistent.by/api/v1/"/>
  <!--**************************************************************************************************************************************-->
  <timeMapTraySize hours="0" minutes="5" seconds="0"/>     <!--Размер одной ячейки TimeMap по времени-->
  <cookingDelayTime hours="0" minutes="30" seconds="0"/>   <!--Задержка по времени перед приготовлением заказа-->
  <workingDayStartTime hours="6" minutes="0" seconds="0"/> <!--Время начала приёма заказов (Время указывается в UTC - т.е. по Гринвичу)-->
  <workingDayEndTime hours="19" minutes="0" seconds="0"/>  <!--Время окончания приёма заказов (Время указывается в UTC - т.е. по Гринвичу)-->
  <orderExpireTime hours="0" minutes="3" seconds="0"/>     <!--Время, отведёное для подтверждения заказа клиентом-->
  <maxOrderCost value="7.5"/>                              <!--Максимальная стоимость одного заказа-->
  <!--**************************************************************************************************************************************-->
  <timeMapRules>
    <rules>
      <!--Корнфигурация TimeMap по максимальному количеству заказов от времени (Время указывается в UTC - т.е. по Гринвичу)-->
      <!--Параметр Id должен быть уникален-->
      <add id="1" startTime="6:00" endTime="16:00" maxOrders="1"/>
    </rules>
  </timeMapRules>
  <!--**************************************************************************************************************************************-->
  <clientTimeZoneShift value="3" />         <!--Смещение часового пояса клиента. (Допустимы как отрицательные так и положительные значения)-->
  <!--**************************************************************************************************************************************-->
</configuration>
